.not-found {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;

  font-size: 25px;

  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.346);
}

.not-found__image {
  display: block;
  width: 100%;

  border-radius: 30px;
}